.sub-section {
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
}

.sub-title {
  font-size: rem;
  font-weight: 600;
}

.sub-container {
  background-color: #eaeaea;
  border-radius: 7px;
  width: 300px;
  box-shadow: 5px 5px #888888;
}

.sub-container ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 1rem 0rem 1rem 0rem;
}

.subreddit {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.2rem;
  padding-bottom: 1.5rem;
  padding-top: 1rem;
}

.subreddit:hover {
  background-color: #f5dada;
  border-left: 4px solid #00abb3;
  font-weight: 600;
}

.sub-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1rem;
  margin-left: 1rem;
  border: 3px solid black;
}

@media only screen and (max-width: 640px) {
  .sub-section {
    display: none;
  }


}
