.comment-container {
  display: flex;
  flex-direction: column;
  background-color: #f5f3f3;
  width: 100%;
  height: auto;
  border-radius: 6px;
  border: 2px solid #857f7f;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  margin: 0.5rem;
  margin-left: 0;
  overflow: hidden;
}

.comment-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.4rem 1rem;
  font-weight: 600;
  font-size: 1rem;

}

.comment-body {
  margin: 0px 1rem;
  padding-bottom: 1rem;
}

@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .comment-info {
    font-size: 1rem;
  }

  .comment-body {
    font-size: 1rem;
  }


}

@media only screen and (max-width: 640px) {
  .comment-container {
    width: auto;
  }

  .comment-body {
    overflow: hidden;
    font-size: 1rem;
  }

  .comment-date {
    font-size: 0.8;
  }
}
