.App {
  font-family: Arial, Helvetica, sans-serif;
}

.home-content{
 display: flex;
 justify-content: space-between;
 height: auto;
 margin-top: 4rem;
 margin-left: 2rem;
 margin-right: 2rem;

}


@media only screen and (min-width: 641px) and (max-width: 1024px){
  .home-content{
    margin-left: 0rem;
    margin-right: 0rem;
  }
}

@media only screen and (max-width: 640px) {

  .home-content{
    margin-left: 0rem;
    margin-right: 0rem;
    width: 100%;
  }}


